body {background-color:black;}
h1 {color:grey;
  text-align:center;}
div {background-color: white;
  width: 600px;
  color: black;
  margin-top: 15px;
  border-radius: 25px 25px 25px 25px;
  margin: 0 auto;}
table {margin: 0 auto;}
footer {left: 10px;
  position: absolute;}
